
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.showcase{
position: absolute;
right: 0;
width: 100%;
min-height: 100vh;
padding: 40px;
display: flex;
align-items: center;
color: white;
z-index: 2;
}

.head{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
}

.logo{
color: orange;
text-shadow: 2px 2px 5px red;
cursor: pointer;
font-size: 2em;
font-weight: 500;
line-height: 1em;
}

.showcase video{
  object-fit: cover;
  min-width: 110vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay{
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100%;
background:#03a9f4;
mix-blend-mode:overlay;

}

.text {
position: relative;
z-index: 10;

}
.text h2{

font-size: 5em;
font-weight: 800;
line-height: 1em;
text-align: left;
text-transform: uppercase;


}
.text h3 {

font-weight: 700;
line-height: 1em;
text-transform: uppercase;


}

.text p {
font-size: 1.1em;
margin: 20px 0;
font-weight: 400;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}